@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
  --font-Karla: 'Karla', sans-serif;
  --font-Markazi: 'Markazi Text', serif;
  --green: #495E57;
  --yellow: #F4CE14;
  --orange: #EE9972;
  --salmon: #FBDABB;
  --light-gray: #EDEFEE;
  --dark-gray: #333333;
}

html {
  scroll-behavior: smooth;
}


body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

input[type=number] {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

nav {
  z-index: 10001;
}

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
}

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  text-decoration: solid #495E57;
}

.p-relative {
  position: relative !important;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.row {
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px){
  .col-lg-6 {
    flex: 0 0 auto;
    width: 45%;
  }
}

.col-12 {
  flex: 0 0 auto;
  width: 92%;
}

.button-primary {
  padding: 12px 22px;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
  font-family: var(--font-Karla);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button-secondary {
  padding: 12px 36px;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
  font-family: var(--font-Karla);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.main {
  margin-top: 5em;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 15%;
}

.menu-icon img {
  width: 70%;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.navbar {
  position: fixed;
  height: auto !important;

  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  /* border-top: 3px solid #ededed; */
  border-bottom: 1px solid transparent;
  z-index: 1001;
  box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 0.75);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.navbar-container {
  min-height: 80px;
  height: 80px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: ease height 300ms;
  max-width: 1450px;
  width: calc(100% - 26%);
  margin-right: auto;
  margin-left: auto;
}


.navbar-row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  align-self: stretch;
  max-height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.nav-links a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  font-family: var(--font-Karla);
  text-decoration: none;
}

.nav-links a.selected {
  background-color: var(--green);
  color: white;
  font-size: 14px;
  box-shadow: none;
  padding: 7px 22px;
  border-radius: 16px;
}

.nav-links .order-nav-link:hover {
  background-color: #293632;
}

nav ul li:last-child {
  padding-left: 0;
  text-align: center;
}

.nav-basket {
  padding-left: 0;
}

.nav-links .icon-basket {
  width: 75%;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 87px;
  right: 8%;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}



/* header section */

.hero {
  margin-top: 80px;
  /* Adicione o espaço extra aqui */
  background-color: #495e57;
  padding: 40px 0;
}


.hero section {
  color: #EDEFEE;
  padding: 20px 13%;
  position: relative;
}

.hero h2 {
  font-family: var(--font-Markazi);
  font-size: 64px;
  font-weight: 600;
  color: var(--yellow);
  margin: 0;
  line-height: 42px;
}

.hero h3 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.hero p {
  font-family: var(--font-Karla);
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 1em;
}

.hero button {
  background-color: var(--yellow);
}

.hero button:hover {
  background-color: #dfbb0b;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 0%;
  width: auto;
}

.banner-img img {
  width: 100%;
  height: 440px;
  border-radius: 15px;
}

/* menu items */

.menu-container {
  margin: 0 auto;
  padding: 9em 13%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.menu-header h2 {
  font-family: var(--font-Markazi);
  font-size: clamp(3rem, 0.3043rem + 3.4783vw, 3rem);
  font-weight: 600;
  color: black;
  margin: 0;
  line-height: 42px;
}

.menu-header button {
  background-color: var(--yellow);
}

.menu-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items {
  height: 580px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: var(--light-gray);
  border-radius: 16px 16px 0 0;
}

.menu-items .card-img-top {
  width: 100%;
  /* height: 233px; */
  vertical-align: middle;
  border-radius: 16px 16px 0 0;
}

.menu-content {
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.menu-content {
  flex: 1 1 auto;
}

.menu-content .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.menu-content .heading h5 {
  font-family: var(--font-Markazi);
  font-size: 22px;
  color: #000;
  line-height: 18px;
  margin: 0;
}

.menu-content .heading p {
  font-family: var(--font-karla);
  font-size: 16px;
  color: var(--orange);
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

.menu-content p {
  font-family: var(--font-karla);
  font-size: 16px;
  color: #868788;
  margin-bottom: 1em;
}

.menu-content .order-btn {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 10%;

  font-family: var(--font-karla);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #000;

  cursor: pointer;
}

.delivery-icon {
  width: 8%;
  margin-left: 10px;
}


/* testimonials content */
.testimonials-container {
  margin: 0 auto;
  padding: 6% 13%;
  background-color: #f3efed;
}

.testimonials-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.testimonials-header h2 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin: 0;
  line-height: 42px;
  text-align: center;
}

.testimonials-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.card {
  position: relative;
  border-radius: 16px;
  background-color: white;
  width: 215px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  padding: 1.2em 1.5em;
}

.card-body {
  flex: 1 1 auto;
}

.testimonial-author {
  display: flex;
  margin: 20px 0 0;
  align-items: center;
}

.star-icon {
  width: 8%;
}

.testimonial .testimonial-author .testimonial-author-thumbnail {
  width: auto;
}

.testimonial-author img {
  max-width: 55px;
  border-radius: 50% !important;
}

.testimonial-author p {
  display: flex;
  flex-direction: column;
  font-family: var(--font-karla);
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0.8rem;
}

.testimonial-description p {
  font-family: var(--font-karla);
  color: #999;
  font-size: 14px;
}



/* about content */

.about-container {
  margin: 0 auto;
  padding: 10% 13%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-text {
  flex: 0 0 auto;
  width: 41.66666667%;
  text-align: start;
}

.about-text h1 {
  font-family: var(--font-Markazi);
  font-size: 64px;
  font-weight: 600;
  /* color: var(--yellow); */
  margin: 0;
  line-height: 42px;
}

.about-text h2 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 500;
  /* color: white; */
  margin: 0;
}

.about-text p {
  font-family: var(--font-Karla);
  font-size: 20px;
  font-weight: 500;
  /* color: white; */
  margin-bottom: 1em;
}

.about-img {
  flex: 0 0 auto;
  width: 58.33333333%;
  text-align: end;
  position: relative;
}

.inner img {
  width: 100%;
}



/* .inner {
  position: absolute;
  height: 250px;
  width: 400px;

  -webkit-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
  -moz-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
  box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
}

.inner img {
  width: 100%;
}

.inner:nth-child(1) {
  top: -11em;
  right: 0;
  z-index: 1;
}

.inner:nth-child(2) {
  bottom: -10em;
  left: 25%;
  z-index: 2;
} */


/* footer content */

footer {
  background-color: var(--green);
}

footer section {
  padding: 3em 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info {
  width: 250px;
}

.company-info img {
  margin-top: 12px;
  cursor: pointer;
}

.company-info p {
  font-family: var(--font-Karla);
  font-size: 18px;
  color: white;
}

footer h3 {
  font-family: var(--font-Karla);
  font-size: 18px;
  font-weight: 800;
  color: white;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 8px 0;
  font-family: var(--font-Karla);
  font-size: 14px;
  font-weight: 300;
  color: white;
}

footer ul li a {
  font-family: var(--font-Karla);
  font-size: 14px;
  font-weight: 300;
  color: white;
}



/* form content */

.hero {
  margin-top: 80px;
  /* Adicione o espaço extra aqui */
  background-color: #495e57;
  padding: 40px 0;
}


.hero-form {
  color: #EDEFEE;
  padding: 20px 13%;
  position: relative;
}

.form-container {
  width: 100%;
  padding: 2em 0;
}

.form-wrapper {
  padding: 2em;
  position: relative;
}

fieldset {
  border: none;
}

form,
.comfirm {
  padding: 10px 13%;
}


input,
label {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: block;
}

.form-label {
  margin-bottom: 0.5rem;
  font-family: var(--font-Karla);
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  display: block;
  width: 96.5%;
  padding: 0.875rem 0.5rem 0.875rem 0.75rem;
  font-size: 1.4rem;
  font-family: var(--font-Karla);
  font-weight: 700;
  line-height: 1.5;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
}

input[type="date"] {
  cursor: pointer !important;
}

.form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.875rem 2.25rem 0.875rem 0.75rem;
  padding-left: 51px !important;
  font-size: 1.4rem;
  font-family: var(--font-Karla);
  font-weight: 700;
  line-height: 1.5;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #fff;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
}

.occasion-icon {
  position: absolute;
  z-index: 1 !important;
  transform: translate3d(0,-50%,0);
  left: 15px !important;
  top: 50%;
  font-size: 1.5em;
}

.form-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4em;
}

.form-images img {
  max-width: 100%;
  max-width: calc(33% - 20px);
  margin-bottom: 20px;
  border-radius: 16px;
}

.button-send-reservation input {
  background-color: var(--yellow);
  padding: 12px 22px;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
  font-family: var(--font-Karla);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin: 1em 0 !important;

}

.comfirm span {
  color: blue;
}

@media screen and (max-width: 1024px) {
  .navbar-container {
    width: 90%;
  }

  .nav-links .order-nav-link {
    background: none;
    color: black;
    font-size: 14px;
    box-shadow: none;
    padding: 0;
  }

  .icon-basket {
    filter: invert(100%);
  }

  .banner-img {
    position: absolute;
    right: 0%;
    top: 16%;
    width: auto;
  }

  .banner-img img {
    width: 85%;
    height: 365px;
    border-radius: 15px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    flex: 0 0 auto;
    width: 100%;
  }

  .about-img {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .inner {
    text-align: center;
  }

  .inner img {
    width: 100%;
    margin: 1em 0;
  }

  .form-images {
    justify-content: center;
  }

  .form-images img {
      max-width: calc(50% - 20px);
      margin-left: 5px;
      margin-right: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .inner {
    position: absolute;
    height: 250px;
    width: 400px;

    -webkit-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
    box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
  }

  .inner img {
    width: 100%;
  }

  .inner:nth-child(1) {
    top: -11em;
    right: 0;
    z-index: 1;
  }

  .inner:nth-child(2) {
    bottom: -10em;
    left: 25%;
    z-index: 2;
  }
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-container {
    min-height: 50px;
    height: 50px;
  }

  .nav-links.visible {
    top: 60px;
  }

  .hero {
    margin-top: 70px;
  }

  .main {
    margin: 0;
  }

  .navbar-container {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .nav-links .nav-link {
    color: white;
  }

  nav ul li:last-child {
    padding: 0.5em 0;
  }

  .nav-links.visible {
    display: flex;
    background: #414141;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar {
    background: #fff;
    padding: 10px 8%;
  }

  nav ul li a {
    color: #fff;
  }

  .bar {
    background: #333333;
  }

  .banner-img {
    display: none;
  }

  form,
  .comfirm {
    padding: 10px 8%;
  }

  .menu-container {
    margin: 20px 0;
  }

  .menu-header h2 {
    margin-bottom: 0.5em;
  }

  .menu-header {
    justify-content: flex-start;
  }

  .menu-items {
    width: 100%;
    height: 100%;
  }

  .menu-content p {
    margin-bottom: 4em;
  }

  .card {
    width: 100%;
  }

  .testimonials-wrapper {
    justify-content: center;
  }

  .about-img {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inner img {
    width: 100%;
    margin: 1em 0;
  }

  footer section {
    flex-direction: column;
  }

  .company-info p {
    width: 100%;
  }
}

@media screen and (max-width: 481px) {

  .menu-container {
    padding: 4em 13%;
  }

  .testimonials-container {
    padding: 4rem 13%;
  }

  .about-container {
    padding: 4rem 13%;
}

  .col-12 {
    width: 100%;
  }

  .form-wrapper {
    padding: 0;
  }

  .form-control {
    width: 92.5%;
  }
  .form-images img {
    max-width: 100%;
  }
  .form-images img:nth-child(2), img:nth-child(3) {
    display: none;
  }

  .confirm h2 {
    font-size: clamp(3rem, 0.3043rem + 3.4783vw, 3rem);
  }
  .confirm h3 {
    font-size: clamp(1.5rem, 0.3043rem + 3.4783vw, 3rem);
  }
  .confirm p {
    font-size: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
  }
}

@media screen and (min-width: 481px) {
  footer section {
    flex-direction: row;
  }
}



.hidden {
  display: none;
}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 2fr 1fr;
}