@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
  --font-Karla: 'Karla', sans-serif;
  --font-Markazi: 'Markazi Text', serif;
  --green: #495E57;
  --yellow: #F4CE14;
  --orange: #EE9972;
  --salmon: #FBDABB;
  --light-gray: #EDEFEE;
  --dark-gray: #333333;
}

body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  z-index: 10001;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  text-decoration: solid #495E57;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.nav-links a {
  font-size: 18;
  font-weight: bold;
  color: #000;
  font-family: var(--font-Karla);
  text-decoration: none;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}




/* header section */

.hero {
  background-color: #495e57;
  padding: 40px 0;
}

.hero section {
  color: #EDEFEE;
  padding: 20px 13%;
  position: relative;
}

.hero h2 {
  font-family: var(--font-Markazi);
  font-size: 64px;
  font-weight: 600;
  color: var(--yellow);
  margin: 0;
  line-height: 42px;
}

.hero h3 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.hero p {
  font-family: var(--font-Karla);
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 1em;
}

.hero button {
  background-color: var(--yellow);
  padding: 12px 22px;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);

  font-family: var(--font-Karla);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.hero button:hover {
  background-color: #dfbb0b;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 0%;
  width: auto;
}

.banner-img img {
  width: 100%;
  height: 440px;
  border-radius: 15px;
}

/* menu items */

.menu-container {
  margin: 9em auto;
  padding: 10px 13%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.menu-header h2 {
  font-family: var(--font-Markazi);
  font-size: 64px;
  font-weight: 600;
  color: black;
  margin: 0;
  line-height: 42px;
}

.menu-header button {
  background-color: var(--yellow);
  padding: 12px 36px;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);

  font-family: var(--font-Karla);
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.menu-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items {
  height: 580px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: var(--light-gray);
  border-radius: 16px 16px 0 0;
}

.menu-items .card-img-top {
  width: 100%;
  /* height: 233px; */
  vertical-align: middle;
  border-radius: 16px 16px 0 0;
}

.menu-content {
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.menu-content {
  flex: 1 1 auto;
}

.menu-content .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.menu-content .heading h5 {
  font-family: var(--font-Markazi);
  font-size: 22px;
  color: #000;
  line-height: 18px;
  margin: 0;
}

.menu-content .heading p {
  font-family: var(--font-karla);
  font-size: 16px;
  color: var(--orange);
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

.menu-content p {
  font-family: var(--font-karla);
  font-size: 16px;
  color: #868788;
  margin-bottom: 1em;
}

.menu-content .order-btn {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 10%;

  font-family: var(--font-karla);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #000;

  cursor: pointer;
}

.delivery-icon {
  width: 8%;
  margin-left: 10px;
}


/* testimonials content */
.testimonials-container {
  margin: 0 auto;
  padding: 6% 13%;
  background-color: #f3efed;
}

.testimonials-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.testimonials-header h2 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 600;
  color: black;
  margin: 0;
  line-height: 42px;
  text-align: center;
}

.testimonials-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.card {
  position: relative;
  border-radius: 16px;
  background-color: white;
  width: 215px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  padding: 1.2em 1.5em;
}

.card-body {
  flex: 1 1 auto;
}

.testimonial-author {
  display: flex;
  margin: 20px 0 0;
  align-items: center;
}

.star-icon {
  width: 8%;
}

.testimonial .testimonial-author .testimonial-author-thumbnail {
  width: auto;
}

.testimonial-author img {
  max-width: 55px;
  border-radius: 50% !important;
}

.testimonial-author p {
  display: flex;
  flex-direction: column;
  font-family: var(--font-karla);
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0.8rem;
}

.testimonial-description p {
  font-family: var(--font-karla);
  color: #999;
  font-size: 14px;
}



/* about content */

.about-container {
  margin: 0 auto;
  padding: 10% 13%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-text {
  flex: 0 0 auto;
  width: 41.66666667%;
  text-align: start;
}

.about-text h1 {
  font-family: var(--font-Markazi);
  font-size: 64px;
  font-weight: 600;
  /* color: var(--yellow); */
  margin: 0;
  line-height: 42px;
}

.about-text h2 {
  font-family: var(--font-Markazi);
  font-size: 40px;
  font-weight: 500;
  /* color: white; */
  margin: 0;
}

.about-text p {
  font-family: var(--font-Karla);
  font-size: 20px;
  font-weight: 500;
  /* color: white; */
  margin-bottom: 1em;
}

.about-img {
  flex: 0 0 auto;
  width: 58.33333333%;
  text-align: end;
  position: relative;
}

.inner {
  position: absolute;
  height: 250px;
  width: 400px;

  -webkit-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
  -moz-box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
  box-shadow: -12px 11px 31px -13px rgba(0, 0, 0, 1);
}

.inner img {
  width: 100%;
}

.inner:nth-child(1) {
  top: -11em;
  right: 0;
  z-index: 1;
}

.inner:nth-child(2) {
  bottom: -10em;
  left: 25%;
  z-index: 2;
}


/* footer content */

footer section {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info img {
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.company-info p {
  width: 320px;
}

footer h3 {
  font-size: 18px;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 8px 0;
}



/* form content */


form,
.comfirm {
  padding: 10px 13%;
}

.formField {
  padding: 50px 20px;
}

input,
label {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

#book-date,
#book-time,
#book-guests,
#book-occasion {
  background: #bdbdbd43;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.btnReceive input {
  padding: 12px 16px;
  margin-top: 20px;
  background: #495e57;
  color: #fff;
  border: none;
  border-radius: 4px;

}

.comfirm span {
  color: blue;
}


@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar {
    background: #fff;
    padding: 10px 8%;
  }

  nav ul li a {
    color: #fff;
  }

  .bar {
    background: #333333;
  }

  .banner-img {
    display: none;
  }

  form,
  .comfirm {
    padding: 10px 8%;
  }


  .header section,
  .menu-container {
    padding: 10px 13%;
  }

  .menu-container {
    margin: 20px 0;
  }

  .menu-header {
    justify-content: flex-start;
  }

  .menu-items {
    width: 100%;
    height: 100%;
  }

  footer section {
    padding: 10px 8%;
    flex-direction: column;
  }

  .company-info p {
    width: 100%;
  }
}

.hidden {
  display: none;
}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 2fr 1fr;
}